html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #7982ec;
}
#questionsList {
  list-style-type: none;
}
.true {
  background: #82ec79;
}
.false {
  background: #ec7982;
}
button {
  font-size: 20px;
}
.flex-list {
 display: flex;
  justify-content: space-around;
  list-style-type: none;
  background: rgb(38, 45, 127);
  margin: 0;
  align-items: center;
  color: #fff;
  min-height: 50px
}

.flex-list li {
  padding-right: 10px;
}
.flex-list li a {
  color:#fff;  
  font-size: 17px; 
  text-decoration: none
}
.inputDiv {
  padding: 1em;
  width: 80%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.inputDiv label {
  margin: .5em;
}
.inputDiv input {
  width: 300px;
}
.btn-styles {
  display: flex;
  justify-content: space-around;
}
.userDetailsDiv p {
  padding: 1em;
  font-weight: 500;
}